# Dependencies & Environments
node_modules/
venv/
.venv/
env/
__pycache__/
*.pyc

# Environment files with private secrets
.env
.env.local

# Build output & IDE settings
dist/
build/
.vscode/
.idea/
.DS_Store